<%- include("partials/header") %>
<%- include('partials/flash') %> 
        <h1 style="text-align: center;font-size: 3rem;">Departments</h1>
        <a href="/showDept/addDept" style="height:40px;margin-left: 34rem;padding-bottom: 0.2rem;" class="btn btn-primary">Add new Department</a>
        <div class="row justify-content-center">
        <div class="col-auto">
        <table style="text-align: center;margin-top: 2rem;" >
        <tr>
            <th style="padding-right: 2rem;">Department Name</th>
            <th style="padding-right: 2rem;">Dept ID</th>
        </tr>
        
        <%
        if(departmentData.length!=0){
        var i=1;
        departmentData.forEach(function(data){
        %>
        <tr style="border-bottom: 1px solid rgba(71, 71, 71, 0.726);">
            <td style="padding-right: 2rem;"><%=data.dname %></td>
            <td style="padding-right: 2rem;"><%=data.dnumber %></td>
            <td style="padding-right: 2rem;"><a href="/showDept/<%=data.dnumber%>/edit" class="btn btn-success">Edit</a></td>
            <td><form action="/showDept/<%=data.dnumber%>?_method=DELETE" method="POST"><button class="btn btn-danger" style="margin-top: 1rem;">Delete</button></form></td>
        </tr>
        
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
    </div>
<%- include("partials/footer") %>


