<%- include("partials/header") %>
        <h1 style="text-align: center;font-size: 3rem;">Pay Grade</h1>
        <a href="/showGrade/addGrade" style="height:40px;margin-left: 35rem;padding-bottom: 0.2rem;" class="btn btn-primary">Add new Grade</a>
        <div class="row justify-content-center">
                <div class="col-auto">
                        <table style="text-align: center;margin-top: 2rem;">
                                <tr>
                                    <th style="padding-right: 2rem;">Grade Name</th>
                                    <th style="padding-right: 2rem;">Grade ID</th>
                                </tr>
                                
                                <%
                                if(gradeData.length!=0){
                                var i=1;
                                gradeData.forEach(function(data){
                                %>
                                <tr style="border-bottom: 1px solid rgba(71, 71, 71, 0.726);">
                                    <td style="padding-right: 2rem;"><%=data.grade_name %></td>
                                    <td style="padding-right: 2rem;"><%=data.grade_id %></td>
                                    <td style="padding-right: 2rem;"><a href="/showGrade/<%=data.grade_id%>/edit" class="btn btn-success">Edit</a></td>
                                    <td><form action="/showGrade/<%=data.grade_id%>?_method=DELETE" method="POST"><button class="btn btn-danger" style="margin-top: 1rem;">Delete</button></form></td>
                                </tr>
                                <%  i++; }) %>
                                <% } else{ %>
                                <tr>
                                        <td colspan="7">No Data Found</td>
                                </tr>
                        <% } %>
                </table>
        </div>
    </div>
<%- include("partials/footer") %>