<%- include("partials/header") %>
        <div class="user-detail">
            <h2 style="text-align: center;margin-top: 2rem;margin-bottom: 2rem;">Edit Grade</h2>
            <div class="card" style="margin: auto; width: 50%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <form action="/showGrade/<%= gdata[0].grade_id %> " method="POST">
                <div class="form-group" style="margin: auto; width: 70%;">
                  <label style="margin-top: 2rem;margin-bottom: 1rem;">Grade Name</label>
                  <input type="text" class="form-control" placeholder="Enter Grade Name" name="grade_name" value="<%= gdata[0].grade_name %>" required>
                  <label style="margin-top: 2rem;margin-bottom: 1rem;">Basic</label>
                  <input type="text" class="form-control" placeholder="Enter Basic" name="grade_basic" value="<%= gdata[0].grade_basic %>">
                  <label style="margin-top: 2rem;margin-bottom: 1rem;">DA</label>
                  <input type="text" class="form-control" placeholder="Enter DA" name="grade_da" value="<%= gdata[0].grade_da %>" required>
                  <label style="margin-top: 2rem;margin-bottom: 1rem;">PF</label>
                  <input type="text" class="form-control" placeholder="Enter PF" name="grade_pf" value="<%= gdata[0].grade_pf %>" required>
                  <label style="margin-top: 2rem;margin-bottom: 1rem;">Bonus</label>
                  <input type="text" class="form-control" placeholder="Enter Bonus" name="grade_bonus" value="<%= gdata[0].grade_bonus %>" required>
                  <button type="submit" class="form-control btn btn-primary mt-4">Submit</button>
                </div>
                </form>
            </div>
        </div>
<%- include("partials/footer") %>